PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/ehr-system
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
FABRIC_CHANNEL_NAME=ehr-channel
FABRIC_CHAINCODE_NAME=ehr
FABRIC_CONNECTION_PROFILE=fabric/connection-org1.json
FABRIC_WALLET_PATH=fabric/wallet
FABRIC_IDENTITY_LABEL=appUser
FABRIC_MSP_ID=Org1MSP
FABRIC_CERT_PATH=/home/<wsl-user>/fabric/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/users/User1@org1.example.com/msp/signcerts/cert.pem
FABRIC_KEY_DIRECTORY=/home/<wsl-user>/fabric/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/users/User1@org1.example.com/msp/keystore
FABRIC_DISCOVERY_ENABLED=true
FABRIC_DISCOVERY_AS_LOCALHOST=true
IPFS_API_URL=http://127.0.0.1:5001/api/v0
IPFS_ENCRYPTION_KEY=eabf063005990281000b0fc72ebe176dc3c2d071c27436353d979e1b908e627f
